body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #282c34;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.bot-icon-small {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: white;
}

.language-selector select {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.social-links {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.social-links a {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.social-links a.discord:hover {
    color: #7289da;  /* Cor do Discord */
}

.social-links a.twitch:hover {
    color: #9146ff;  /* Cor do Twitch */
}

.social-icon {
    margin-right: 8px;
    font-size: 1.5em;
    color: inherit;  /* Herda a cor do link ao qual pertence */
    transition: color 0.3s ease;
}

section#terms {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    font-weight: 700;
}

ol {
    padding-left: 20px;
    font-size: 16px;
    line-height: 1.6;
}

ol li {
    margin-bottom: 15px;
    font-weight: 400;
}
