/* Adicione ou substitua o código existente por este */

body {
    font-family: Arial, sans-serif;  /* Define uma fonte padrão para todo o texto */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #282c34;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.bot-icon-small {
    width: 30px;  /* Ajuste o tamanho da logo */
    height: 30px;
    margin-right: 10px;
}

h1 {
    font-family: 'Anton', sans-serif;  /* Fonte personalizada apenas para o título PONEGLYPH */
}

.language-selector select {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.social-links {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.social-links a {
    margin: 0 10px;
}

.social-icon {
    width: 40px;  /* Ajuste o tamanho dos ícones */
    height: 40px;
    fill: currentColor;  /* Define a cor dos ícones com base na cor do texto */
}

section#terms {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

ol {
    padding-left: 20px;
}

ol li {
    margin-bottom: 15px;
}
